.item {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 10px;

  &__link {
    color: #fff;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;
    transition: 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__icon {
    margin-top: 5px;
    width: 15px;
    height: 15px;
  }
}
