.search {
  padding: 45px 0;

  &__formContainer {
    height: 60px;
    border-radius: 9px;
    background: #f9f9f9;
    display: flex;
    align-items: center;
    padding: 0 30px 0 25px;
  }

  &__icon {
    margin-right: 14px;
    flex: 0 0 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 822px;
  }

  &__input {
    height: 34px;
    flex: 0 1 600px;
    border: none;
    background-color: #f9f9f9;

    &::placeholder {
      color: #a0a0a0;
      font-size: 18px;
      line-height: 20px;
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    border: none;
    flex: 0 0 80px;
    height: 34px;
    border-radius: 48px;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  &__suggestions {
    list-style: none;
    margin-top: -7px;
    padding: 15px 0 10px 62px;
    background-color: #f9f9f9;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
  }

  &__suggestion {
    margin-bottom: 15px;

    a {
      color: #000;
      text-decoration: none;
      padding-bottom: 2px;
      border-bottom: 1px solid #000;
      transition: 0.2s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
