.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 119px;
  border-top: 1px solid #545454;
  border-bottom: 1px solid #545454;

  &_white {
    background-color: #f9f9f9;
    border-radius: 9px;

    a,
    button {
      color: #000;
    }
  }

  &__logo {
    width: 150px;
    cursor: pointer;
  }

  &__list {
    display: flex;
    gap: 24px;
  }

  &__icon {
    margin-top: -1px;
    width: 21px;
    height: 21px;
    cursor: pointer;
  }

  &__nav {
    margin: 0;
    text-decoration: none;
    color: #fff;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__exit {
    color: #a9a9a9;
  }
}
